@model ArticlesApp.Models.AdminRegister

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
    <style>
        .table {
            margin: auto;
            width: 700px;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4 class="text-center">Регистрация</h4>
            <table class="table">
                <thead class="text-center">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</thead>
                <tbody>
                    <tr>
                        <td class="text-center">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">@Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label" })</td>
                        <td>
                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="text-md-center">
                <input type="submit" value="Зарегистрироваться" class="btn btn-outline-primary" />
            </div>
        </div>

    }
</body>
</html>
